project:
  type: website
  output-dir: docs
  render:
    - index.qmd
    - posts/*/index.qmd

website:
  title: "Gaia Lens Blog"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

